@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 15%;
      --foreground: 0 0% 100%;
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground font-prompt;
    }
    h1 {
      @apply font-slackey
    }
    p {
      @apply text-mobile md:text-desktop
    }
    a, li > a {
      @apply underline
    }
  }

  @layer utilities {
    .section_limiter {
      @apply max-w-[1680px] mx-auto w-full
    }
    .style_title_1 {
      @apply max-lg:text-5xl max-md:text-2xl lg:text-6xl
    }
    .hover_expand_list {
      @apply mt-2 border-b border-white/50 max-h-0 list-inside list-disc overflow-auto opacity-0
      transition-all duration-500 hover:py-10;
    }
    .group:hover .hover_expand_list,
    .group:focus-within .hover_expand_list {
      @apply max-h-40 opacity-100;
    }
    .markdown h2 {
      @apply font-bold text-xl mt-8 mb-4
    }
    .markdown p {
      @apply bg-emerald-950 mb-4 rounded-md p-4
    }
    .markdown ul {
      @apply list-inside list-decimal flex flex-col gap-4 p-4 
      bg-[url('/backgrounds/blocks-github.png')] bg-center
    }
    .markdown li {
      @apply p-2 bg-background rounded-md text-white/80
    }
    .container_card_project {
      @apply hidden w-full flex-wrap items-center justify-center max-md:flex-col gap-16
    }
  } 